body{
    margin right: 20px;
    margin left: 20px;

}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type:none;
    background-color: green;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(3, 51, 3);
}
.navbar li{
    float: left;
}

.text-zivo{
    margin-left: 500px;
    margin-right: 500px;
    background-color: greenyellow;
    padding: 50px;
    border-left:solid rgb(86, 99, 88);
    border-right: solid rgb(86, 99, 88);
    border-style: none
    
    
}
img{
    height: 50px;
    
}